# Python for Data Science, Level I
### *Session \#9*
---

### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Pandas and Matplotlib Review

### Warm Ups

---

**Import pandas/matplotlib, set style, and create dataframe:**

Note: Info about what the data in each column means is available [here](https://www.kaggle.com/c/titanic/data)

In [308]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-pastel') 
titanic_df = pd.read_csv("titanic.csv")

**Grab column from dataframe:** `titanic_df['embark_town']`

**Boolean indexing:**: `is_adult_female = (titanic_df['age'] > 18) & (titanic_df['sex'] == 'female')`

**Creating a new column**: `titanic_df['adult_female'] = is_adult_female`

**Subset of columns as new dataframe:** `survival_df = titanic_df[['who', 'survived']]`

**Use a group by:** `survival_count_df = survival_df.groupby('who').sum()`

**Plot the data:** 
```python
survival_axes = survival_count_df.plot(kind='bar')
survival_fig = plt.gcf()
```

### Exercises
---

**1. Create a new Boolean column** `is_senior` **which is** `True` **if the passenger is over the age of 60 and** `False` **otherwise**

In [480]:
titanic_df.pivot_table(values=["survived", 'fare'], columns='class')

class         First     Second      Third
fare      84.154687  20.662183  13.675550
survived   0.629630   0.472826   0.242363

**2. Use Boolean indexing to select the passengers who are seniors. What was the survival rate among seniors?**

Hint: Use the total count of rows, along with the sum of the 'survived' column.

**3. What was the survival rate among people who were NOT seniors?**

Hint: You can use the `~` operator to reverse a Boolean filter.

**4. Create a dataframe** `class_df` **by grabbing just the columns** `class` **and** `survived`

**5. Use a groupby on** `class_df` **to sum up the number of survivors by class**

### Extra Credit
---

**1. When performing a groupby, you can use** `.agg()` **instead of the normal Numpy methods like** `.sum()` **or** `.mean()`

**If you use** `.agg()`**, you can apply multiple aggregators at once by giving a list of their names, eg:** `df.groupby('sex').agg(['sum', 'count'])` 

**Do a groupby on** `class_df` **to find the** `count` **and** `sum` **of the survived column (ie. total number and survivors)**

**2. Plot the resulting dataframe from the last problem as a bar chart**

Note: You can use `.legend()` on the resulting axes to make your labels clearer. Pass the list of names you want for each color.

## II. Intro to Pivot Tables

### Warm Ups
---

**Basic pivot table:** `pivot_df = titanic_df.pivot_table('survived', index='who')`

Note: `pivot_table()` will use the average when combining rows, by default.

**Grab by row index:** `pivot_df.loc['man']`

**Pivot table using different aggregator:** `titanic_df.pivot_table('survived', index='embark_town', aggfunc='sum')`

**Pivot table with totals** `titanic_df.pivot_table('survived', index='who', margins=True)`

**Pivot table divided out by column values**: `column_df = titanic_df.pivot_table('survived', index='who', columns='class')`

**Grab by row and column index:** `column_df.loc['child', 'Second']`

### Exercises
---

**1. Create a pivot table to show survival rates based on where passengers embarked from.**

**2. What was the survival rate for passengers from Cherbourg? Southampton?**

**3. Create a pivot table the shows a total count of passengers from each** `embark_town`

**4.  Let's figure out the ticket prices! Create a pivot table for** `fare`, **with index broken down by class and columns broken down by the column** `who`

**5. What was the average price for a woman in first class? What about a man in second class?**

## Extra Credit
---

**1. Plot the dataframe for ticket prices as a bar chart.**

Note: You should only need to specify .plot(kind="bar")

## III. Advanced Pivot Tables

### Warm Ups
---

**Cut a continuous column into bins by INTERVAL:** 
```python
age_bins = pd.cut(titanic_df['age'], [0, 18, 80])
titanic_df.pivot_table("survived", index=age_bins, columns="class")
```

Note: If you use `age_bins` as index/columns, need to supply labels e.g. `lables=['child', 'adult']` also. Indexes/column names cannot be interval values like (0, 18)

**Cut a column into three evenly DISTRIBUTED bins:** 
```python
even_bins = pd.qcut(titanic_df['age'], 3)
titanic_df.pivot_table("survived", index=even_bins, columns="class")
```

Note: If you use `even_bins` as index/columns, need to supply labels e.g. `lables=['child', 'adult']` also. Indexes/column names cannot be interval values like (0, 18)

**Create a dataframe with heiarchical index:** `multi_df = titanic_df.pivot_table("survived", index=["embark_town", "who"], columns="class")`

**Grab value with heirarchical index:** `multi_df.loc[('Cherbourg', 'man'), 'First']`

### Exercises
---

**1. Create a pivot table for survival rate that indexes age by** `child`, `teenager`, `adult` **and** `senior`

Hint: First use pd.cut() to break the `age` column into four bins divided at 13, 18, and 60.

**2. Create a new pivot table for survival rate that indexes by** `child`, `teenager`, `etc` **but also by** `sex`. **The columns should break survival rate by** `class`

**3. What was the survival rate for teenage men in First class?**